<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>REST Api with Thymeleaf CRUD Example</title>


<link th:href="@{/bootstrap/css/hello.css}" rel="stylesheet" />
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />



</head>
<body>

	<nav class="navbar navbar-inverse ">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">My Blog</a>
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/posts/create}">Creer
							post</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<h1>Welcome!</h1>

		<p>
			Click <a th:href="@{/hello}">here</a> to see a greeting.
		</p>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#ID</th>
					<th>Titre</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${posts == null}">
					<td>Aucn post n est publie ici</td>
				</tr>
				<tr th:each="post : ${posts}">
					<td><span th:text="${post.id}"></span></td>
					<td><span th:text="${post.title}"></span></td>
					<td><a class="btn btn-info" th:href="@{/posts/${mypost.id}}">Détail</a>
						<a class="btn btn-primary" th:href="@{/posts/${mypost.id}/update}">Modifier</a>
						<a class="btn btn-danger" th:href="@{/posts/${mypost.id}/delete}">Supprimer</a></td>
				</tr>
			</tbody>
		</table>
	</div>


	<hr>
	<footer>
		<p class="text-center">
			&copy; <a th:href="@{https://www.linkedin.com/in/wilkom2009/}"
				target="_blanck">wilkom</a> 2019
		</p>
	</footer>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="@{/bootstrap/js/hello.js}"></script>
	<script src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>