<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/fragments/template}">

<head>
<title th:text="#{label.pages.resourceperson.title}"></title>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
	function showCustomer(str) {
		var xhttp;
		if (str == "") {
			document.getElementById("txtHint").innerHTML = "";
			return;
		}
		xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("txtHint").innerHTML = this.responseText;
			}
		};
		xhttp.open("GET", "getcustomer.asp?q=" + str, true);
		xhttp.send();
	}
</script>


</head>
<body id="page-top">
	<section layout:fragment="content">

		<div th:unless="${message == null}"
			class="alert alert-danger alert-dismissible fade show">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Erreur!</strong> <span th:text="${message}"></span>
		</div>

		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
			<li class="breadcrumb-item active"
				th:text="#{label.pages.resourceperson.title}">Roles</li>
		</ol>

		<form action="">
			<select name="customers" onchange="showCustomer(this.value)">
				<option value="">Select a customer:</option>
				<option value="ALFKI">Alfreds Futterkiste</option>
				<option value="NORTS ">North/South</option>
				<option value="WOLZA">Wolski Zajazd</option>
			</select>
		</form>
		<div id="txtHint">Customer info will be listed here...</div>

		<form class="needs-validation" th:action="@{/resourcepersons/add}"
			th:object="${person}" method="post">

			<!-- Ligne 1 -->
			<div class="form-row">

				<!-- 				Nom -->
				<div class="form-group col-md-4">
					<label for="inLastN" th:text="#{person.lastname}"></label> <input
						type="text" class="form-control" id="inLastN"
						th:placeholder="#{person.lastname}" th:field="*{lastName}"
						required>
				</div>

				<!-- 				Prennom -->
				<div class="form-group col-md-5">
					<label for="inFirstN" th:text="#{person.firstname}"></label> <input
						type="text" class="form-control" id="inFirstN"
						th:placeholder="#{person.firstname}" th:field="*{firstName}"
						required>
				</div>

				<!-- 			Genre -->
				<div class="col-md-2">
					<label for="inG" th:text="#{person.gender}"></label> <select
						class="form-control" th:field="*{gender}" required id="inG">
						<option
							th:each="type : ${T(com.wilkom.caurisapp.common.entity.gender).values()}"
							th:value="${type}" th:text="${type}"></option>
					</select>
				</div>
			</div>

			<!-- 			2e ligne -->
			<div class="form-row">

				<!-- 			Type de pieceID -->
				<div class="col-md-2">
					<label for="inIDC" th:text="#{label.idcard.type}"></label> <select
						class="form-control" th:field="*{idCard.type}" required id="inIDC">
						<option
							th:each="type : ${T(com.wilkom.caurisapp.common.entity.Person.IDCardType).values()}"
							th:value="${type}" th:text="${type}"></option>
					</select>
				</div>

				<!-- 				Num card -->
				<div class="col-md-2">
					<label for="inIDN" th:text="#{label.idcard.number}"></label> <input
						type="text" class="form-control" id="inIDN"
						th:placeholder="#{label.idcard.number}"
						th:field="*{idCard.number}" required>
				</div>

				<!-- Date d expiration -->
				<div class="col-md-3">
					<label for="inIDD" th:text="#{label.idcard.exiry}"></label> <input
						type="date" class="form-control" id="inIDD"
						th:placeholder="#{label.idcard.exiry}"
						th:field="*{idCard.expiryDay}" required>
				</div>

				<!-- Date de naissance -->
				<div class="col-md-3">
					<label for="inBD" th:text="#{person.dateOfBirth}"></label> <input
						type="date" class="form-control" id="inBD"
						th:placeholder="#{person.dateOfBirth}"
						th:field="*{birthID.birthDay}" required>
				</div>

				<!-- Nationalité -->
				<div class="col-md-2">
					<label for="inNa" th:text="#{conntry.nationality}"></label> <select
						class="form-control" th:field="*{nationality.country}" required
						id="inNa">
						<option th:each="count : ${countries}" th:value="${count.code}"
							th:text="${count.nom}"></option>
					</select>
				</div>
			</div>

			<hr>
			<!-- 			3e ligne -->
			<h4 class="text-success" th:text="#{person.adress}"></h4>

			<div class="form-row">
				<!-- Pays de résidence -->
				<div class="col-md-2">
					<label for="inCountry" th:text="#{conntry.name}"></label> <select
						class="form-control" id="inCountry"
						th:field="*{adresse.city.country}"
						onchange="loadInsuranceCompanies()">
						<option th:each="count : ${countries}" th:value="${count.code}"
							th:text="${count.nom}"></option>
					</select>
				</div>


				<!-- <select class="form-control" id="insuranceCompany"  -->
				<!--                 name="insuranceCompany"   -->
				<!--                 th:fragment="insuranceCompany"> -->
				<!--             <option th:each="i : ${insuranceCompanies}"  -->
				<!--                     th:value="${i.uidinsurancecompany}"   -->
				<!--                     th:text="${i.shortName}" -->
				<!--                     th:selected="${personBean.insuranceCompany != null  -->
				<!--                     and personBean.insuranceCompany.equals(i)}"> -->
				<!--             </option> -->
				<!--         </select> -->


				<!-- 			City -->
				<div class="col-md-3">
					<label for="indCity" th:text="#{adress.city}"></label> <select
						th:fragment="indCity" name="indCity" class="form-control"
						th:field="*{adresse.city}" required id="indCity">
						<option th:each="city : ${countrycities}" th:value="${city.id}"
							th:text="${city.name}"></option>
					</select>
				</div>

				<!-- 				Rue -->
				<div class="col-md-3">
					<label for="inStreet" th:text="#{adress.street}"></label> <input
						type="text" class="form-control" id="inStreet"
						th:placeholder="#{adress.street}" th:field="*{adresse.street}"
						required>
				</div>

				<!-- 				Quartier -->
				<div class="col-md-3">
					<label for="inQ" th:text="#{adress.quarter}"></label> <input
						type="text" class="form-control" id="inQ"
						th:placeholder="#{adress.quarter}" th:field="*{adresse.quarter}"
						required>
				</div>
			</div>

			<!-- 			Ligne 4 -->
			<div class="form-row">
				<!-- 				Tel -->
				<div class="col-md-3">
					<label for="inTel" th:text="#{adress.phone}"></label> <input
						type="text" class="form-control" id="inADR"
						th:placeholder="#{adress.phone}" th:field="*{adresse.phone}"
						required>
				</div>

				<!-- 				Email -->
				<div class="col-md-3">
					<label for="inEmail" th:text="#{adress.email}"></label> <input
						type="email" class="form-control" id="inEmail"
						th:placeholder="#{adress.email}" th:field="*{adresse.email}"
						required>
				</div>
			</div>
			<hr>
			<button class="btn btn-success btn-sm" type="submit"
				th:text="#{button.label.save}"></button>
		</form>
	</section>


	<script type="text/javascript">
		$(document).ready(function loadInsuranceCompanies() {
			var url = /*[[@{/countrycities}]]*/"/countrycities";
			if ($('#inCountry').val() !== '') {
				url = url + '/' + $('#inCountry').val();
			}
			$("#indCity").load(url);
		});
	</script>


</body>
</html>