<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/fragments/template}">

<head>
<title th:text="#{label.pages.customer.title}">Liste des roles</title>
</head>
<body id="page-top">
	<section layout:fragment="content">

		<div th:unless="${message == null}"
			class="alert alert-success alert-dismissible fade show">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Success!</strong> <span th:text="${message}"></span>
		</div>

		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
			<li class="breadcrumb-item active"
				th:text="#{label.pages.customer.title}">Roles</li>
		</ol>

		<div>
			<a th:href="@{/customers/add}" class="btn btn-success"
				th:title="#{button.label.new}"><i th:text="#{button.label.new}"></i></a>
		</div>
		<br>
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i> <i
					th:text="#{label.pages.customer.title}"></i>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table
						class="table table-bordered table-sm table-stripped thead-light"
						id="dataTable">
						<thead>
							<tr>
								<th class="th-lg" th:text="#{label.pages.customer.code}"></th>
								<th class="th-lg" th:text="#{person.lastname}"></th>
								<th class="th-lg" th:text="#{person.firstname}"></th>
								<th class="th-lg" th:text="#{person.dateOfBirth}"></th>
								<th class="th-lg" th:text="#{person.adress}"></th>
								<th th:text="#{label.common.actions}"></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th class="th-lg" th:text="#{label.pages.customer.code}"></th>
								<th class="th-lg" th:text="#{person.lastname}"></th>
								<th class="th-lg" th:text="#{person.firstname}"></th>
								<th class="th-lg" th:text="#{person.dateOfBirth}"></th>
								<th class="th-lg" th:text="#{person.adress}"></th>
								<th th:text="#{label.common.actions}"></th>
							</tr>
						</tfoot>
						<tr th:each="person : ${persons}">
							<td th:text="${person.customerCode}"></td>
							<td th:text="${person.lastName}"></td>
							<td th:text="${person.fistName}"></td>
							<td th:text="${person.birthID}"></td>
							<td th:text="${person.adresse}"></td>
							<td><a
								th:href="@{/customers/edit/{id}(id=${person.id})}"
								class="btn btn-primary" th:title="#{button.label.edit}"><i
									class="fa fa-edit fa-1x" aria-hidden="true"></i></a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
